.circle_box{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-bottom: 50px;
}

.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
}

.circle_box #red_circle{
    background-color: red;
}
.circle_box #blue_circle{
    background-color: blue;
}
.circle_box #green_circle{
    background-color: green;
}

.square_box{
    width: 200px;
    height: 200px;
    background-color: yellow;
}